<ul class="list-unstyled">

  <% @articles.each do |article| %>

    <li class="media">
      <div class="media-body mb-5">
        <h4><%= link_to(article.title, article_path(article)) %></h4>
        <p> <%= article.content[0..100] %> </p>
      </div>
    </li>

  <% end %>

</ul>
