<h3 class= "mb-3"> <%= @article.title %> </h3>

<h2 class="text-right">
  <%= link_to('âœï¸', edit_article_path(@article)) %>
  <%= link_to('ðŸ’£', article_path(@article), method: :delete, data: {confirm:'Are you sure?'}) %>
</h2>

<hr>

<p > <%= @article.content %> </p>


<script>
var simplemde = new SimpleMDE();
</script>
